body{
    margin: 40px;
}
.feed{
    border: 3px solid rgb(59, 59, 59);
    padding: 5px;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin-top: 0px;
}
.kong{
    text-align: center;
    margin: 10px;
    border-radius: 20px;
}

.heart{
    display: flex;
    justify-content: space-around;

}

.list{
    list-style: none;
    margin: 10px 20px 10px 15px;

}
.commentInput{
    margin: 30px 0px 10px 45px;
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 17px;
    width: 19rem;
}
.commentBox{
    display: flex;
    flex-direction: column;
    width: 410px;
    border: 3px solid rgb(59, 59, 59);
    height: 300px;
    overflow: scroll;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list li{
    margin-top: 10px;
}
.name p{ 
    margin: 2px;
}
.name{
    width: 300px;
    margin-top: 10px;
}
.yeaseul ,.num{
    font-weight: bolder;
}
.heartBox{
    width: 300px;
}